body {
    background-image: url("https://e0.pxfuel.com/wallpapers/520/10/desktop-wallpaper-harry-potter-houses-harry-potter-group.jpg");    
    background-color: rgb(0, 0, 0);
    background-size: 1800px 1000px;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-clip: content-box;
}

@keyframes changeColor {
    0%   { color: hsl(324, 70%, 45%); }
    10%  { color: hsl(360, 65%, 45%); }
    20%  { color: hsl( 36, 80%, 45%); }
    30%  { color: hsl( 72, 75%, 35%); }
    40%  { color: hsl(108, 65%, 35%); }
    50%  { color: hsl(144, 75%, 35%); }
    60%  { color: hsl(180, 75%, 35%); }
    70%  { color: hsl(216, 60%, 45%); }
    80%  { color: hsl(252, 65%, 50%); }
    90%  { color: hsl(288, 60%, 40%); }
    100% { color: hsl(324, 70%, 45%); }
}

h1 {
    font-family: 'Harry P', sans-serif;
    color: hsl(324, 70%, 45%);
    animation: changeColor 10s infinite;
    text-align: center; 
    font-size: 550%; 
}

p {
    color: rgb(207, 105, 9);
    font-family: 'Harry Potter', sans-serif;
    text-align: center; 
    font-size: 300%; 
}
